<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2><strong>Curran Place Solar Panel Data</strong></h2>

<p>Click
    <a title="50 Most Recent Data Samples"

    href=latest target="_blank" rel="noopener">here</a>
    to view most recent data samples</p>
</body>

<form action="/daterange" method="post">
   {% csrf_token %}
    <p>Enter a range of dates for a the corresponding data</p>
    <div class="col-xs-3">

         <label for="start">Start Date</label>
       <input type="date" class="form-control" id="start" placeholder="" value=""
              name='start'>

        <label for="end">End Date</label>

        <input type="date" class="form-control" id="end" placeholder="" value=""
              name='end'>

       <input type="submit" value="Submit">
    </div>
</form>


</html>